* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Helvetica, 'Roboto Flex', 'Roboto', Arial, sans-serif;
}

.nosel {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

#gpadview {
    --gpad-bg-t: #0f0;
    --gpad-bg: #f0f;
    --gpad-fg: #000;
    --gpad-border: #202040;
    width: fit-content;
    height: fit-content;
    margin: 16pt;
    padding: 16pt;
    text-align: center;
    border: solid 2pt var(--gpad-border);
    border-radius: 8pt;
}

#gpadview>#gpadgrid {
    display: grid;
    grid-template-areas:
        "d d s f f"
        ". l . r ."
    ;
    grid-auto-flow: dense;
    align-items: center;
    justify-content: center;
}

#gpadview>h1 {
    margin: 0;
    margin-bottom: 16pt;
}

#gpadview .b {
    display: flex;
    flex: 0 1 max-content;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 4pt;
    min-width: fit-content;
    min-height: fit-content;
    width: 64pt;
    height: 64pt;
    font-size: 24pt;
    border-radius: 8pt;
    font-weight: 700;
    background-color: var(--gpad-bg-t);
    color: var(--gpad-fg);
    fill: var(--gpad-fg);
    transition-property: background-color, border-color;
    transition-timing-function: cubic-bezier(.08, .82, .17, 1);
    transition-duration: 0.5s;
    cursor: pointer;
}

#gpadview .b:hover,
#gpadview .b.gpsl {
    background-color: var(--gpad-bg);
}

#gpadview .b>span>img {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#gpadview .b>span {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    text-align: center;
}

#gpadview .b>span,
#gpadview .b>label,
#gpadview .b>img,
#gpadview .b>svg {
    pointer-events: none
}

.p4d {
    display: grid;
    box-sizing: content-box;
    width: 192pt;
    height: 192pt;
    padding: 4pt;
    border: solid 2pt var(--gpad-border);
    border-radius: 37.5%;
    grid-template-columns: repeat(3, calc(100%/3));
    grid-template-rows: repeat(3, calc(100%/3));
}

#gpadview .p4d>.b {
    width: 100%;
    height: 100%;
}

/* ---------- DPad ---------- */

#dpad {
    grid-area: d;
}

#dpad>.b {
    --gpad-bg: #404048;
    --gpad-bg-t: #40404880;
    --gpad-fg: #fff;
}

#dpad>#dd {
    grid-area: 3 / 2;
}

#dpad>#dr {
    grid-area: 2 / 3;
}

#dpad>#dl {
    grid-area: 2 / 1;
}

#dpad>#du {
    grid-area: 1 / 2;
}

/* ---------- Face Buttons ---------- */

#facebtns {
    grid-area: f;
}

#facebtns>.b {
    border-radius: 50%;
}

#facebtns>#fa {
    grid-area: 3 / 2;
    --gpad-bg: #00f020;
    --gpad-bg-t: #00f02080;
}

#facebtns>#fb {
    grid-area: 2 / 3;
    --gpad-bg: #f02400;
    --gpad-bg-t: #f0240080;
}

#facebtns>#fx {
    grid-area: 2 / 1;
    --gpad-bg: #3060f0;
    --gpad-bg-t: #3060f080;
}

#facebtns>#fy {
    grid-area: 1 / 2;
    --gpad-bg: #f0d020;
    --gpad-bg-t: #f0d02080;
}

/* ---------- Sticks ---------- */

#gpadview .stick {
    --gpad-bg: #404080;
    --gpad-bg-t: #00004080;
    --gpad-fg: #fff;
    transition-property: background-color, border-color, border-width;
    border: solid 8pt var(--gpad-border/*-t*/);
    border-radius: 50%;
    cursor: pointer;
}

#gpadview .stick.gpsl,
#gpadview .stick:hover {
    background-color: var(--gpad-bg);
    border-width: 4pt;
}

#gpadview #rstick {
    grid-area: r;
}

#gpadview #lstick {
    grid-area: l;
}

#gpadview #sbtns {
    text-align: center;
    width: 128pt;
}